<!DOCTYPE html>
<html>
<head>
  <title>ITP</title>
  <link rel="stylesheet" href="main.css">
</head>
<body>

<textarea id="post" rows="8" cols="80"></textarea>
<button id="post-button">Post</button>

<div id="posts" class="posts"></div>

<template id="post-template">
  <div class="post">
    <p>{{createdAt}}</p>
    <p>{{body}}</p>
  </div>
</template>

<template id="posts-template">
  {{#each posts}}
    <div class="post">
      <p>{{createdAt}}</p>
      <p>{{body}}</p>
    </div>
  {{/each}}
</template>

<script src="jquery-3.2.1.js"></script>
<script src="handlebars-v4.0.10.js"></script>
<script src="main.js"></script>

</body>
</html>
